body{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;

   
    
}
p{
    padding-left: 50px;
    padding-right: 20px;
    
}
h1{
    text-align: center;
}
#banner1{
    background-image: url("image/rancidbannerbg.png") ; 
    background-repeat: repeat;
    

}
#banner2{
    background-image: url("image/rancidbanner1.png");
    background-repeat: no-repeat;
    
    border: 2px solid black;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;   
    background-size: cover;
    
}
#heading{
    font-size: 24pt;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: #999999 3px 3px;
}
#main_container{
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    background-color: #EEEEEE;
    display: flex;
    
}
.topPhoto{
    width: 100%;

}
.title{
    padding: 0;
    font-size: 16px;
    font-weight: bolder;
}
#right_section{
    background-image: url("image/bg.png");
    border: 2px solid black;
    width: 500px;
    margin: 0 auto;
    padding: 0 auto;
}
#left_section{
    background-color: #EEEEEE;
    box-shadow: gray 5px 5px;
    
    width: 700px;
    
}
ul{
    list-style-type: none;
}
.myList{
    list-style-type: circle ;
}
#Top{
    background-image: url("image/rottenlargebg.png");
    background-repeat: repeat-x;
    background-size: contain;
    margin-bottom: 1rem;
    border: 2px solid black;
    height: 160px;
    width: 700px;
    
}
#review{    
    display: flex;
    flex-direction: column;

}

.comment{
    font-size: 13pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    border-radius: 12px;
    padding: 1em;
    margin: 0 auto;
    
    background-repeat: no-repeat;
    background-position: left;
    
}
.critics{
    font-size: 13pt;
    
}
span{
    font-style: italic;
}
